extends ../layout

include ../includes/_paginate

block content
  .container
    form.form-inline.search-input-group(action='/tour', method='GET')
      i.fa.fa-search
      input.form-control.mr-sm-2(type='text', name='term', placeholder='Search', aria-label='Search', value=term)

    h1.main-title 
      | Tour Item
      if tour.total > 0
        .small Total #{tour.total} Tour Item(s)

    if tour.total <= 0 
      .alert.alert-info No Tour Items available yet
    else
      .tour
        each question in questions.docs
          .tour 
            a.title(href=`/tour/${tour.id}`)= question.title
            include _tour
      +paginate(tour, '/tour', query)

    hr
    a.btn.btn-primary(href='/tour/new') Add Tour Item